<?php

return [
    'mysqli' => [
        'driver' => 'mysqli',
        'host' => 'localhost',
        'database' => 'database',
        'username' => 'user',
        'password' => 'pass'
    ],
    'pdo' => [
        'driver' => 'mysql',
        'host' => 'localhost',
        'database' => 'database',
        'username' => 'user',
        'password' => 'pass'
    ]
];